// page about Elise scss

@use './var';

// styles de la page about
//test - css ok répond bien

.about_main {
  // background: linear-gradient(to bottom right, transparent, #acacf3, pink);
  padding: 1rem;

}

.about_article_seo_contain {
  display: flex;
  margin-left: 3rem;
  margin-top: 4rem;
}

.about_article_seo {
  background: linear-gradient(to bottom right, var.$color-purple, var.$color-lightblue);
  color: var.$color-white;
  font-weight: 600;
  margin-left: 10rem;
  margin-right: 16rem;
  border-radius: 15%;
  text-align: left;
  align-content: center;
  padding: 2rem;
  line-height: 2rem;

}

.about_article_seo h2 {
  text-align: center;
}

.about_article_seo aside {
  text-align: left;
}

.about_article_seo_img {
  height: auto;
  width: auto;
}

.about_link_article {
  color: var.$color-white;
  text-decoration: none;
  font-style: italic;
  background-color: linear-gradient(to bottom right, #124d48, rgb(78, 112, 151));
}

.about_witness1 {
  margin-right: 2rem;
  margin-bottom: 3rem;
  background-color: var.$color-lightblue;
  border-radius: 8%;
  text-align: center;
  display: inline-block;
  width: 20%;
  column-gap: 3rem;
  align-items: center;
  padding: 1rem;
}

.about_witness2 {
  column-gap: 3rem;
  background-color: var.$color-purple;
  color: var.$color-white;
  border-radius: 8%;
  text-align: center;
  display: inline-block;
  width: 20%;
  align-items: center;
  padding: 1rem;
}

// à revoir car l'image n'est pas responsive
.about_witness_contain0 {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 5rem;

}

.about_witness_contain {
flex-wrap: wrap;
margin: 1rem;
 text-align: center;
  align-items: flex-start;
  color: var.$color-darkpurple;
  font-weight: bold;
  font-size: var.$text-fontsize;

}

.about_witness img {

  max-width: auto;
}


// ici css pour ouvrir fermer questions réponses
// essai de faire dérouler la réponse en cliquant sur question entière, pas sur flèche
.coucou a {
  color: inherit;
  text-decoration: none;
}

.coucou h1 {
  display: inline-block;
}

.coucou p {
  display: none;
}

.coucou p:target {
  display: block;
}


// header navigation de la page about 

.header_nav {
  background: var.$color-white;
  display: flex;
  justify-content: center;
  column-gap: 10rem;
  font-size: var.$subtitle-fontsize;
  padding: 1rem;

}

.header_nav img {
  background-color: var.$color-white;
  width: 160px;
  height: 160px;
}


.header_nav_ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 10rem;
  font-size: var.$subtitle-fontsize;
  list-style: none;

}

// ombres sur lettres : cf @ https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow 

.header_nav_li a {
  text-decoration: none;
  color: var.$color-darkpurple;
  font-weight: bold;
  text-shadow: 1px 1px 2px var.$color-lightblue;
}


// footer nav de la page about

.footer_nav {
  background: linear-gradient(to bottom right,
      transparent,
      var.$color-purple,
      var.$color-blue,
      var.$color-lightblue );
  display: flex;
  flex-wrap: wrap;
  column-gap: 0.2rem;
  justify-content: center;
  font-size: var.$text-fontsize;
  align-items: center;
  
}

.footer_nav a {
  text-decoration: none;
  color: var.$color-white;
}

.footer_nav ul {

  list-style: none;
  display: inline-flex;
  column-gap: 1rem;

}

.footer_nav_follow {
  flex-wrap: wrap;
  flex-direction: row;

}

.footer_nav_follow img {
  width: 35px;
  height: 35px;
}



.footer_nav_contact {
  margin-left: 2rem;
  justify-content: center;
 align-items: center;
}

.footer_nav_contact img {
  width: 35px;
  height: 35px;
  // background-color: var.$color-white;
}


.footer_aside {
  text-align: center;
  font-weight: 800;
}