@use '../vars' as *;
@use '../mixins' as *;


.button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  font-size: $text-fontsize;
  font-family: $font-texte;
  font-weight: bold;
  text-align: center;
  color: $color-white;
  background-color: $color-purple;
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  cursor: pointer;
  margin-top: 2rem;
  transition: background-color 0.3s ease, transform 0.2s ease;

  &:hover,
  &:focus-visible {

    transform: scale(1.02);
  }

  &:focus-visible {
    outline: 3px solid $color-blue;
    outline-offset: 3px;
  }

  &:active {
    transform: scale(0.98);
  }
}