@use '../vars' as *;
@use '../mixins' as *;

// Fonction lightener locale (sans modifier _vars.scss ni ajouter la fonction dans mixins)
@function lighten($color, $percent) {
  @return mix(white, $color, $percent);
}


.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-white;
  border: 1px solid lighten($color-black, 70%);
  border-radius: 1rem;
  padding: 2rem;
  box-shadow: 0 0.5rem 1rem rgba($color-black, 0.1);
  max-width: 600px;
  margin: 0 auto;

  @include small {
    flex-direction: row;
    gap: 2rem;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;

    img {
      width: 100%;
      max-width: 150px;
      height: auto;
      aspect-ratio: 1;
      border-radius: 50%;
      object-fit: cover;
      display: block; 
    }
  }

  &__info {
    text-align: center;

    @include small {
      text-align: left;
    }
  }

  &__name {
    font-size: $title-fontsize;
   font-family: $font-texte;
    color: $color-blue;
    margin-bottom: 0.5rem;
  }

  &__job {
    font-size: $subtitle-fontsize;
    font-weight: bold;
    color: $color-purple;
    margin-bottom: 0.5rem;
  }

  &__location {
    font-size: $text-fontsize;
    font-style: italic;
    color: $color-darkpurple;
    margin-bottom: 1rem;
  }

  &__bio {
    font-size: $text-fontsize;
    line-height: 1.5;
    color: $color-black;
  }
}