// styles scss header commun à toutes les pages sauf la page /home
@use './var';

.header_nav {
  background: var.$color-white;
  display: flex;
  justify-content: center;
  column-gap: 10rem;
  font-size: var.$subtitle-fontsize;
  padding: 1rem;

}

.header_nav img {
  background-color: var.$color-white;
  width: 160px;
  height: 160px;
}


.header_nav_ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 10rem;
  font-size: var.$subtitle-fontsize;
  list-style: none;

}

// ombres sur lettres : cf @ https://developer.mozilla.org/fr/docs/Web/CSS/text-shadow 

.header_nav_li a {
  text-decoration: none;
  color: var.$color-darkpurple;
  font-weight: bold;
  text-shadow: 1px 1px 2px var.$color-lightblue;
}
