//styles de la page conditions.html correspondant à /terms-and-conditions
@use "/src/assets/styles/components/var";

.main_conditions {
    background: var.$color-white;
    font-size: var.$text-fontsize;
    font-family: var.$font-texte;
}

.main_conditions h1 {
    color: var.$color-blue;
    font-size: var.$title-fontsize;
}

.main_conditions h2 {
    color: var.$color-darkpurple;
    font-size: var.$subtitle-fontsize;
}

.main_cgu {
    font-weight: bold;

}

.main_cgu_checkbox {
    display: block;
    color: var.$color-black;
    border: 4rem;
    border-color: var.$color-darkpurple;
    border: solid;
    border-style: inset;
    height: 100px;
    text-align: left;
    align-items: center;
}

.main_cgu_legend {
    font-size: var.$subtitle-fontsize;
    font-weight: bold;
    color: var.$color-blue;
}