//styles de la page conditions.html correspondant à /terms-and-conditions
@use "/src/assets/styles/components/var";

.main_legal {
    background: var.$color-white;
    font-size: var.$text-fontsize;
    font-family: var.$font-texte;
    margin: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: justify;
  
  
}

.main_bg_img{  background-image: url(/src/assets/img/img-seo4.jpg);
       background-repeat: no-repeat;
       background-size: 40%;
       background-position: right;
}

.main_legal h1 {
    color: var.$color-blue;
    font-size: var.$title-fontsize;
    text-align: center;
}

.main_legal h2 {
    color: var.$color-darkpurple;
    font-size: var.$subtitle-fontsize;
    text-align: left;
}


.main_legal_aside {
    font-style: italic;
    
}

.main_nav {
    display: flex;
    column-gap: 2rem;
}
.main_nav2 {
    flex-wrap: nowrap;
   
}

