// nos variables pour notre projet

// couleurs

$color-blue: rgb(59, 97, 230);
$color-lightblue: #3dbede;

$color-purple: rgb(187, 41, 139);

$color-darkpurple: #833daf;
$color-white: #ffffff;
$color-black: rgb(0, 0, 0);

// typo

$font-texte: "Verdana, Arial, sans-serif";
$title-fontsize: 32px;
$subtitle-fontsize: 24px;
$text-fontsize: 18px;

// font-size: var.$subtitle-fontsize;
// use.var
