/* Error: Can't find stylesheet to import.
 *   ,
 * 2 | @use '../mixins' as *; // pour les media queries @include small etc.
 *   | ^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   public\style\components\_commune_header.scss 2:1  @use
 *   public\style\index.scss 7:1                       root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 2 \2502  @use '../mixins' as *; // pour les media queries @include small etc.\d\a   \2502  ^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   public\\style\\components\\_commune_header.scss 2:1  @use\a   public\\style\\index.scss 7:1                       root stylesheet";
}
