<!-- view footer.ejs - footer commun à toutes nos pages -->

<footer>
    <div class="footer_nav">
        <nav class="footer_nav_links">
            <ul>
                <li><a href="/">Retour à l'accueil - SEO Sympa</a></li>
                <li><a href="">Mentions légales & RGPD</a></li>
                <li><a href="">Conditions générales</a></li>
                <li><a href="">Déclaration d'accessibilité</a></li>
                <li><a href="">Plan du site SEO Sympa</a></li>
            </ul>
        </nav>


        <div class="footer_nav_follow">
            <a href="#"><img src="/public/assets/img/icones/youtube.png" alt="lien pour nous suivre sur YouTube"></a>
            <a href="#"> <img src="/public/assets/img/icones/instagram.png"
                    alt="lien pour nous suivre sur instagram"></a>
            <a href="#"> <img src="/public/assets/img/icones/linkedin.png" alt="lien pour nous suivre sur Linkedin"></a>
        </div>
        <div class="footer_nav_contact">
            <a href="#"><img src="/public/assets/img/icones/mail.png"
                    alt="lien vers notre page contact pour voir notre mail"></a>
            <a href="#"><img src="/public/assets/img/icones/phone.png"
                    alt="lien vers notre page contact pour voir notre téléphone"></a>
        </div>
    </div>
    <aside class="footer_aside">2025 © SEO Sympa</aside>
    <!-- Pour insérer le symbole de copyright, appuyez sur Alt+0169 -->
</footer>

</body>

</html>