
<!-- view header.ejs - header commun à toutes nos pages sauf /home -->

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

           <title><%= title || 'SEO-Sympa' %></title>
  <% if (description) { %>
    <meta name="description" content="<%= description %>" />
  <% } %>

    <link rel="stylesheet" type="text/css" href="/assets/styles/styles-ejs">
    <link rel="icon" href="/assets/img/favicon-seo.ico" type="image/x-icon" />

</head>

<body>

    <header>
        <nav class="header_nav">
            <!-- ci-dessous logo SEO cliquable qui ramène à la page d'accueil / -->

            <a href="/"><img alt="logo de SEO Sympa" src="/assets/img/logo.png">
            </a>
           
            <!-- ajouter liens dans la nav ci dessous -->

            <ul class="header_nav_ul">
                <li class="header_nav_li"><a href="/">Page d'accueil</a></li>
                <li class="header_nav_li"><a href="/contact">Contact</a></li>
            </ul>
        </nav>
    </header>


</body>


