<!-- view header.ejs - header commun à toutes nos pages sauf /home -->

<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/styles/index.scss">
    <link rel="icon" href="../assets/img/favicon-seo.ico" type="image/x-icon" />
    <title>modèle header- SEO Sympa</title>
</head>

<body>

    <!-- copier header à partir d'ici-->
    <header>
        <nav class="header_nav">
            <!-- ci-dessous logo SEO cliquable qui ramène à la page d'accueil / -->

            <a href="/"><img alt="logo de SEO Sympa" src="../../image/logo.png">
            </a>
            <!-- sûrement liste déroulante pour cette nav -->

            <ul class="header_nav_ul">
                <li class="header_nav_li"><a href="../index.html">Page d'accueil</a></li>
                <li class="header_nav_li"><a href="./contact.html">Contact</a></li>
            </ul>
        </nav>
    </header>
    <!-- copier jusqu'ici -->

</body>

