@use './var';
@use '../mixins' as *;

.footer_nav {
  background: linear-gradient(
    to bottom right,
    transparent,
    var.$color-purple,
    var.$color-blue,
    var.$color-lightblue
  );
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  font-size: var.$text-fontsize;

  @include mixin.small {
    flex-direction: row;
    justify-content: space-around;
    text-align: left;
  }

  a {
    text-decoration: none;
    color: var.$color-white;

    &:hover {
      text-decoration: underline;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0;
    margin: 0;

    @include small {
      flex-direction: row;
      gap: 2rem;
    }
  }
}

.footer_nav_follow {
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;

  @include small {
    justify-content: flex-start;
  }

  img {
    width: 35px;
    height: 35px;
  }
}

.footer_nav_contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;

  @include small {
    align-items: flex-start;
  }
}

