// fichier global.scss

@use './components/var';
@use './components/about';

//********************** propositions Elise
// global style

body {
  font-family: var.$font-texte;
  margin: 1rem;
  line-height: 1.4;
  background-color: var.$color-white;
}

// header navigation

.header_nav {
  background-color: rgba(227, 140, 230, 0.363);
  display: flex;
  justify-content: center;
  column-gap: 10rem;
  font-size: 18px;
}

.header_nav_ul {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  column-gap: 10rem;

}

//********************************** fin propositions Elise
