@use './vars';

// global style
// verdana  ou arial ???

body {
  font-family: vars.$font-texte;
  margin: 0;
  line-height: 1.4;
  background-color: vars.$color-white;
  font-size: vars.$text-fontsize;
}
