@use '/src/assets/styles/vars';
@use '/src/assets/styles/mixins' as *; // pour les media queries @include small etc.

//header

.menu {
  position: fixed;
  width: 100%;
  background-color: white;
  margin: -1%;

}

.menu-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.logo {
  height: 120px;
}

.main-nav__list {
  list-style: none;
  display: flex;
  gap: 2rem;
  padding: 0;
  margin: 0;
}

.main-nav__link {
  text-decoration: none;
  color: vars.$color-black;
  font-size: vars.$subtitle-fontsize;
}

.menu-search {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.button__append {
  background: linear-gradient(to bottom right,
      transparent,
      vars.$color-purple,
      vars.$color-blue,
      vars.$color-lightblue);
  border-radius: 30px;
  width: 125px;
  padding: 0.5rem;
  color: white;
  border: none;
}

.search-bar {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.search-input {
  padding: 0.5rem 1rem;
  border-radius: 30px;
  border: 1px solid vars.$color-black;
  min-width: 200px;
}

.search-button {
  background: linear-gradient(to bottom right,
      transparent,
      vars.$color-purple,
      vars.$color-blue,
      vars.$color-lightblue);
  color: white;
  border: none;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  cursor: pointer;

}

.icon {
  color: black;

}

//fin header
