@use './vars';
@use './mixins';


//header integre via index.scss , profile.html

.public-profile-page {
  display: flex;                 // CHANGEMENT
  flex-direction: column;        // CHANGEMENT
  background: linear-gradient(to bottom, vars.$color-blue, vars.$color-white);
  min-height: 100vh;
  padding: 0;
  font-family: vars.$font-texte;
  color: vars.$color-black;

  @include mixins.small {
    padding: 0;
  }
}

.public-profile-main {
    flex: 1;                       // CHANGEMENT
  .card {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    align-items: center;

    @include mixins.small {
      flex-direction: row; 
      align-items: flex-start;
    }

    .card__image {
      flex-shrink: 0;
      width: 150px;

      img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
      }
    }

    .card__info {
      flex: 1;
      text-align: center;

      @include mixins.small {
        text-align: left;
      }
    }

    .card__contact {
      margin-top: 1rem;

      @include mixins.small {
        margin-top: 0;
        margin-left: auto; 
        align-self: flex-start;
      }
    }
  }
}