@use 'components/var' as *;
@use './mixins' as *;


//header integre via index.scss , profile.html

.public-profile-page {
  background: linear-gradient(to bottom, $color-blue, $color-white);
  min-height: 100vh;
  padding: 0;
  font-family: $font-texte;
  color: $color-black;

  @include small {
    padding: 0;
  }
}

.public-profile-main {
  .card {
    margin-top: 2rem;
    display: flex;
    flex-direction: column; 
    gap: 1rem;
    align-items: center;

    @include small {
      flex-direction: row; 
      align-items: flex-start;
    }

    .card__image {
      flex-shrink: 0;
      width: 150px;

      img {
        width: 100%;
        height: auto;
        border-radius: 0.5rem;
      }
    }

    .card__info {
      flex: 1;
      text-align: center;

      @include small {
        text-align: left;
      }
    }

    .card__contact {
      margin-top: 1rem;

      @include small {
        margin-top: 0;
        margin-left: auto; 
        align-self: flex-start;
      }
    }
  }
}
