<!-- view ejs de la page conditions générales - /terms-and-conditons -->

<%- include('partials/header', { title: 'Conditions générales' , description: "Conditions générales du site SEO Sympa" ,
    page: 'conditions' }) %>
    <!-- Lien CSS spécifique pour la page about -->
    <main class="accessibility-main">
       <section id="declaration-accessibilite" class="declaration-section">
        <h1  class="section-title">Conditions Générales d'Utilisation du site SEO Sympa</h1>

        <h2 class="subsection-title">1. Introduction</h2>

        <p class="subsection-description">Les présentes conditions générales d'utilisation (CGU) régissent l'accès et l'utilisation de la plateforme
            SEO Sympa, qui a pour objectif la mise en relation entre professionnels du SEO et partenaires recherchant
            des services de
            référencement. En vous inscrivant et en utilisant notre plateforme, vous acceptez sans réserve les présentes
            CGU.</p>

        <h2 class="subsection-title">2. Objet</h2>

        <p class="subsection-description">SEO Sympa a pour objectif de faciliter les échanges entre experts du SEO, agences de marketing et
            propriétaires
            de sites web, blogueurs et rédacteurs de contenu. D'un côté les premiers augmentent leur portefeuille client
            et leur notoriété, de l'autre les seconds optimisent leur visibilité sur le web.</p>

        <h2 class="subsection-title">3. Comportement des utilisateurs</h2>
        <p class="subsection-description">Les utilisateurs s'engagent à adopter un comportement respectueux et responsable vis-à-vis des autres membres
            de
            la plateforme. Il est strictement interdit de :
        </p>


        <p class="subsection-description">tenir des propos injurieux, diffamatoires ou discriminatoires.</p>
        <p class="subsection-description"> partager des informations mensongères ou trompeuses.</p>
        <p class="subsection-description">utiliser la plateforme à des fins illégales ou contraires aux bonnes mœurs.</p>



        <h2 class="subsection-title">4. Inscription et responsabilité</h2>

        <p class="subsection-description">L'inscription sur la plateforme nécessite de s'engager à fournir des informations véridiques et à jour.
            Aucune vérification d'identité ne sera effectuée, SEO Sympa ayant confiance en ses utilisateurs. Chaque
            utilisateur est responsable de la confidentialité de ses identifiants et s'engage à informer immédiatement
            SEO Sympa en cas d'utilisation non autorisée de son compte, ou en cas de problème(s) lié(s) à sa navigation
            sur la plateforme et/ou aux échanges effectués.</p>


        <h2 class="subsection-title">5. Propriété intellectuelle</h2>

        <p class="subsection-description">Tous les contenus, marques et logos présents sur SEO Sympa sont protégés par des droits de propriété
            intellectuelle. Toute reproduction ou utilisation sans autorisation est interdite.</p>

        <h2 class="subsection-title">6. Limitation de responsabilité</h2>
        <p class="subsection-description">SEO Sympa ne saurait être tenu responsable des dommages directs ou indirects résultant de l'utilisation de la
            plateforme, notamment en cas de perte de données ou de profits.</p>

        <h2 class="subsection-title">7. Modifications des CGU</h2>
        <p class="subsection-description">SEO Sympa se réserve le droit de modifier les présentes conditions générales. Les utilisateurs seront
            informés de toute modification par e-mail ou via la plateforme.</p>


        <h2 class="subsection-title">8. Droit applicable</h2>
        <p class="subsection-description">Les présentes CGU sont régies par le droit français. Tout litige sera soumis aux tribunaux compétents de XX.
        </p>

        <h2 class="subsection-title">9. Acceptation des CGU</h2>
        <p class="subsection-description">En cochant la case lors de votre inscription sur le site, vous confirmez avoir lu et accepté les conditions générales
            d'utilisation de
            SEO Sympa.</p>
     
</section>
    </main>


    <%- include('partials/footer') %>