
 <%- include('partials/header', { title: 'Page de connexion' , description: "Page de connexion du site SEO Sympa." ,
  bodyClass: 'auth-page', }) %>


  
  <main class="auth-main">
    <script defer  src="/assets/js/password-display.js"></script>
    <h1 class="auth-title">Se connecter</h1>
    <p id="form-desc" class="sr-only">Veuillez entrer votre adresse email et votre mot de passe pour vous connecter.</p>

    <form method="POST" action="/connexion" aria-describedby="form-desc" novalidate>
      <div id="loginStatus" class="sr-only" role="alert" aria-live="assertive"></div>
<fieldset>
        <legend class="sr-only">Informations de connexion</legend>
<p>Merci de remplir tous les champs avec une *.</p>
        <label for="email">Adresse email <span aria-hidden="true">*</span></label>
        <input type="email" id="email" name="email" placeholder="exemple@domaine.com" required aria-required="true" autocomplete="email" aria-describedby="emailHelp" />
        <small id="emailHelp">Nous ne partagerons jamais votre email.</small>

        <label for="loginPassword">Mot de passe <span aria-hidden="true">*</span></label>
        <input type="password" id="loginPassword" name="password" placeholder="Mot de passe" required aria-required="true" autocomplete="current-password" minlength="14" />
         <img src="/assets/img/icones/eye.png" alt="pour rendre visible le mot de passe saisi" id="eye3" onclick="displayLoginPassword()">

        <div class="forgot-password-link">
          <a href="#" aria-label="Réinitialiser le mot de passe">Mot de passe oublié&nbsp;?</a>
        </div>
      </fieldset>
        <a href="/tableau-de-bord-prive">
      <button type="submit" class="button" aria-label="Se connecter au site">Se connecter</button>
        </a>
 
    </form>
  </main>

  <%- include('partials/footer') %>