<!-- vues ejs de dashboard (une fois inscrit/e on arrive sur tableau de bord "Bienvenue") -->

<%- include('partials/header', { title: "Tableau de bord - SEO-Sympa",
 page: 'dashboard'
description: "Tableau de bord d'un utilisateur inscrit sur le site SEO-Sympa" }) %>
<!-- Lien CSS spécifique pour la page about -->

<!-- il y aura le scss à mettre en place sur cette page -->
    <main>

        <h1>Bienvenue chez SEO Sympa + user.name !</h1>

        <p>Vous voilà maintenant inscrit(e).</p>
        <p> Nous vous invitons à compléter votre profil. Ainsi, les utilisateurs
            souhaitant vous contacter en sauront plus sur votre activité et les services que vous proposez. </p>

<button><a href="/profile">Je complète mon profil</a></button>

<!-- ici ajouter adresse, ville siret... -->
    </main>

    <%- include('partials/footer') %>