<%- include('partials/header', { 
  title:  " - Page non trouvée | SEO-Sympa",
  description:  " - SEO-Sympa, page non trouvée",
  page: 'error'   
}) %>


<main role="main" class="error-404" aria-labelledby="error-title" aria-describedby="error-desc">
  <h1 id="error-title">  errore 404 Page non trouvée</h1>
  <p id="error-desc"> Désolé, la page que vous cherchez n'existe pas ou a été déplacée. </p>
  <p><a href="/">Retour à la page d'accueil</a></p>
</main>

<%- include('partials/footer') %>


