<!-- view ejs Mentions légales & RGPD - /legal -->

<%- include('partials/header', {
  title: 'legal-notices',
  description: "Mentions légales - politique de confidentialité - RGPD",
  bodyClass: 'main-content'
}) %>
<!-- Lien CSS spécifique pour la page about -->



     <main class="accessibility-main">
        <section id="declaration-accessibilite" class="declaration-section">
        

        <h1 class="section-title">Mentions Légales - SEO Sympa</h1>


        <p class="section-description">Conformément aux dispositions de l’article 6 III 1° de la loi n°2004-575 du 21 juin 2004 pour la confiance
            dans l’économie numérique, vous trouverez ci-dessous nos mentions légales.</p>

        <div class="main_bg_img">
            <h2 class="subsection-title">L'éditeur du site est :</h2>

            <address> SEO Sympa - 75 000 PARIS </address>
            <p class="subsection-description"><a href="/contact">Cliquez ici pour contacter l'administrateur du site SEO Sympa</a></p>


            <h2 class="sub-subsection-title">L'association SEO Sympa</h2>

            <ul class="custom-list">
                <li>Dénomination sociale : SEO Sympa</li>
                <li>Forme juridique : association loi 1901</li>
                <li>Déclarée sous le n° XXXXXXXXX le XX/06/2025</li>
                <li>Siège de l'association : 75 000 PARIS</li>
            </ul>
        </div>
        <h2 class="subsection-title">L'administrateur du site qui est aussi le directeur de publication est : </h2>
        <div>

            <p class="subsection-description">Mme XXXXX XXXXXX</p>

            <h2 class="subsection-title">L'hébergement du site est assuré par :</h2>

            <p class="subsection-description">Mettre le nom du site internet qui nous hébergera potentiellement ou dans nos projections</p>
        </div>

        <div class="property">
            <h2>Propriété intellectuelle</h2>

           


            <p class="subsection-description">L'intégralité du site SEO Sympa est protégé par les législations Françaises et Internationales relatives
                à
                la propriété intellectuelle.
                Tous les droits de reproduction et de représentation sont réservés.
                Toutes reproductions et représentations sont soumises à l'accord exprès et préalable de l'administrateur
                de
                SEO Sympa.
                Le non-respect de cette obligation constitue une contrefaçon engageant la responsabilité civile et
                pénale de
                son auteur.
                De même, il est strictement interdit d'utiliser ou de reproduire le nomSEO Sympa et son logo, à quelque
                titre que ce soit, et sur quelque support que ce soit, sans l'accord préalable et écrit de notre
                association.</p>
        </div>

        <h2 class="sub-subsection-title">Responsabilité de SEO Sympa</h2>
        <p class="subsection-description">SEO Sympa ne saurait être tenu responsable des dommages directs ou indirects résultant de l'utilisation de la
            plateforme, notamment en cas de perte de données ou de profits.</p>

        <h2 class="sub-subsection-title">Assurance</h2>
        <p class="subsection-description">SEO Sympa est assurée par XXXX (contrat n° 000 000 )</p>


        <h2 class="sub-subsection-title">Crédits</h2>



        <p class="subsection-description">Le graphisme et le design du site a été réalisé par la team SEO Sympa - contact : seo-sympa@tutamail.com</p>

        <p class="subsection-description">Des Questions ? <a href="/a-propos">RDV sur notre FAQ</a></p>


        <h1 class="subsection-title">Politique de confidentialité de SEO Sympa</h1>

        <p class="subsection-description">  Notre site est déclaré auprès de la CNIL dans le cadre de la loi « informatique et liberté » sous le numéro
            1WW000XXX1. Notre politique de confidentialité est conforme au Règlement Général sur la Protection des
            Données (RGPD).
            </p>

        <p class="subsection-description">
            Cette politique de confidentialité décrit comment SEO Sympa collecte, utilise et protège les
            informations personnelles de visiteurs sur son site web. Nous nous engageons à
            respecter votre vie privée et à protéger vos données personnelles.
        </p>

        <h2  class="subsection-title">Informations Collectées</h2>

        <p class="subsection-description">Nous pouvons collecter les types d'informations suivants :</p>

        <ul>
            <li>Informations d'identification personnelle : nom, adresse e-mail,etc.</li>
            <li>Informations non personnelles : données de navigation, adresse IP, type de navigateur, etc.</li>
        </ul>

        <h2  class="subsection-title">Utilisation des Informations</h2>

        <p class="subsection-description" >Nous utilisons les informations collectées pour :</p>
        <ul class="custom-list">
            <li>Gérer les inscriptions.</li>

            <li>Envoyer des newsletters et des informations sur nos activités.</li>

        </ul>

        <h2  class="subsection-title">Protection des Informations</h2>

        <p class="subsection-description">Le respect de votre vie privée est de la plus haute importance pour SEO Sympa. SEO Sympa se soucie de toutes
            les
            questions relatives à la confidentialité de l’information. Nous mettons en œuvre des mesures de sécurité
            appropriées pour protéger vos informations personnelles contre tout accès non autorisé, utilisation ou
            divulgation.</p>


        <h2  class="subsection-title">Partage des Informations</h2>

        <p class="subsection-description">Nous ne vendons pas, n'échangeons pas et ne transférons pas vos informations personnelles à des tiers sans
            votre consentement, sauf si cela est nécessaire pour respecter la loi ou protéger nos droits.</p>


        <!-- voir si on les utilisera ??? -->
        <h2 class="subsection-title">Cookies ??? VOIR SI ON GARDE CET ITEM</h2>
        <p class="subsection-description">
            Notre site peut utiliser des cookies* pour améliorer l'expérience utilisateur. Vous pouvez choisir de
            désactiver les cookies via les paramètres de votre navigateur.</p>
        <aside> *Les cookies sont des fichiers de très petites
            tailles enregistrés sur votre ordinateur via votre navigateur.</aside>

        <h2 class="subsection-title">Droits des Utilisateurs</h2>

        <p class="subsection-description">Vous avez le droit de :</p>
        <ul class="custom-list">
            <li>Accéder à vos données personnelles.</li>
            <li>Demander la rectification de données inexactes.</li>
            <li>Demander la suppression de vos données.</li>
        </ul>

        <h2 class="subsection-title">Effacement de vos données
        </h2>
        <p class="subsection-description"> Vos données sont effacées dès lors que vous supprimez votre compte.</p>

        <h2  class="subsection-title">Modifications de la Politique</h2>
        <p class="subsection-description">Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les modifications
            seront publiées sur cette page avec une date de mise à jour.</p>
        <aside>Dernière mise à jour : XX/06/2025</aside>

        <h2  class="subsection-title">Contact</h2>
        <p class="subsection-description">Pour toute question concernant cette politique de confidentialité, veuillez nous contacter à <a href="mailto:seo-sympa@tutamail.com">seo-sympa@tutamail.com</a>.</p>

        <nav><a href="#top">↑ Retour vers le menu de la page</a></nav>
        </section>
    </main>


    <%- include('partials/footer') %>