<% if (!session?.userId) { %>
        <p> Pour pouvoir entrer en relation avec un expert, merci de vous connecter à votre
          compte (si vous n'avez pas encore de compte chez SEO Sympa, vous pouvez en créer
          un.)</p>

        <% } else { %>

          <% if (profile.id===session.userId) { %>
            <p> Vous ne pouvez pas demander à vous connecter à votre propre réseau. </p>

            <% } else { %>


              <% if (relation.length===0 ) { %>

                <form action="/relation/demander" method="POST" class="relation-form">
                  <button type="submit" class="button card__contact">Vous souhaitez rejoindre mon réseau
                    ?</button>
                </form>

                <!-- demande de relation déjà acceptée, on montre le profil entier avec le mail -->
                <% } else if (relation.status==='accepted' ) { %>
                  <p> Vous êtes déjà en relation avec ce profil </p>
                  <p class="card__info">
                    <%= user.email %>
                  </p>

                  <!-- demande de relation en attente -->
                  <% } else if (relation.status==='pending' ) { %>

                    <p> Demande de connexion déjà en attente, merci de patienter pour la réponse.</p>
                    <!--https://icons8.com/preloaders/en/circular-->
                    <!-- demande de relation refusée, on affiche à nouveau le bouton de demande -->
                    <% } else if (relation.status==='rejected' ) { %>
                      <form action="/relation" method="POST" class="relation-form">
                        <button type="submit" class="button card__contact">Vous souhaitez rejoindre mon réseau
                          ?</button>
                      </form>

                      <% } %>

                        <% } %>
                          <% } %>