<!-- ici view ejs de la page search : page non faite en html -->

<%- include('partials/header', { 
  title: 'rechercher un professionnel',
  description: 'Rechercher un professionnel du SEO',
  bodyClass: 'search-page'
}) %>

    <main class="public-profile-main">
        <aside> même page que page profil ? où liste-t-on ici tous les résultats d'une recherche</aside>
    </main>

    <%- include('partials/footer') %>