<!-- ici view ejs de la page search : page non faite en html -->

<%- include('partials/header', { 
  title: 'rechercher un professionnel',
  description: 'Rechercher un professionnel du SEO',
  bodyClass: 'search-page'
}) %>

    <main class="public-profile-main">
        <aside> ici on liste tous les résultats d'une recherche, on reprend les cards de profile</aside>
    </main>

    <%- include('partials/footer') %>